ion-content {
    --padding-start: 25px;
    --padding-end: 25px;
    --padding-top: 25px;

    ion-item {
        margin-top: 25px;
    }
}
ion-button {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}